<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-Vindo</title>
</head>
<body style="background-color:{{novotema}}; 
    color: {% if novotema == '#000000' %} white{% else %}black{% endif %};">

    <form method="post" action="/tema">

    <h1>Bem Vindo, {{user}}!</h1>
    <p>Qual tema vc deseja escollher?</p>

    <label for="temas">Escolha uma cor:</label>

    <select name="tema" id="tema">

    <option value="#ffffff">tema claro</option>
    <option value="#000000">tema escuro</option>
    </select>

    <p> 
        <input type="submit" value="Mudar tema" /> 
    </p>
    </form>



    <form method="get" action="/logout">
    <p> 
        <input type="submit" value="Sair" /> 
    </p>
    </form>

    <p>A página foi acessado {{acessos}} vez(es) durante esta sessão </p>

    <br>
    <br>

    <form method="post" action="/noticias">
        <button type="submit">Portal de Notícias</button>
    </form>
    


</body>
</html>


