<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-Vindo</title>
    <style>
        .body{background-color: blue;}
    </style>
</head>
<body>
    <h1>Bem Vindo, {{user}}!</h1>
    <p>Qual cor você deseja escolher?</p>
    <button>vermelho</button>
    <button>verde</button>
    <button>azul</button>    

    <form method="post" action="/logout">
    <p> 
        <input type="submit" value="Sair" /> 
    </p>
    </form>



</body>
</html>


